
@main_basic("Vragen"){

<form action="@routes.Application.processAnswers()" method="post">

    <div class="question" id="explanation">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>Er verschijnen hier zometeen een aantal vragen. De vragen hebben dezelfde vorm als in de Gelderse Vallei.</h3>
                <h3>Klik op het hokje dat het beste bij je past.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>Klik op start om te beginnen</p>
                <button id="nextQuestion0" class="btn btn-primary nextQuestion">Start</button>
            </div>
        </div>
    </div>

    <div class="question" id="question1" style="display:none;">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>1/11 - Het toevoegen van metingen en activiteiten: </h3>
                <h3>Vind ik moeilijk <button class="questionItem" value="1">1</button> <button class="questionItem" value="2">2</button>
                <button class="questionItem" value="3">3</button> <button class="questionItem" value="4">4</button>
                <button class="questionItem" value="5">5</button> <button class="questionItem" value="6">6</button>
                <button class="questionItem last" value="7">7</button> Lukt mij goed</h3>
            </div>
            <input type="hidden" name="answer1" id="answer1" value="0" />
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <button id="nextQuestion1" class="btn btn-primary nextQuestion disabled">Volgende vraag</button>
            </div>
        </div>
    </div>

    <div class="question" id="question2" style="display:none;">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>2/11 - Het bijhouden van het dagboek vind ik </h3>
                <h3>Niet belangrijk<button class="questionItem" value="1">1</button> <button class="questionItem" value="2">2</button>
                    <button class="questionItem" value="3">3</button> <button class="questionItem" value="4">4</button>
                    <button class="questionItem" value="5">5</button> <button class="questionItem" value="6">6</button>
                    <button class="questionItem last" value="7">7</button> Wel belangrijk</h3>
            </div>
            <input type="hidden" name="answer2" id="answer2" value="0" />
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <button id="nextQuestion2" class="btn btn-primary nextQuestion disabled">Volgende vraag</button>
            </div>
        </div>
    </div>

    <div class="question" id="question3" style="display:none;">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>3/11 - Ik houd dit dagboek nog bij omdat </h3>
                <h3>Het moet <button class="questionItem" value="1">1</button> <button class="questionItem" value="2">2</button>
                    <button class="questionItem" value="3">3</button> <button class="questionItem" value="4">4</button>
                    <button class="questionItem" value="5">5</button> <button class="questionItem" value="6">6</button>
                    <button class="questionItem last" value="7">7</button> Ik het graag wil</h3>
            </div>
            <input type="hidden" name="answer3" id="answer3" value="0" />
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <button id="nextQuestion3" class="btn btn-primary nextQuestion disabled">Volgende vraag</button>
            </div>
        </div>
    </div>

    <div class="question" id="question4" style="display:none;">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>4/11 - Wat Robin zegt vind ik </h3>
                <h3>Niet leuk <button class="questionItem" value="1">1</button> <button class="questionItem" value="2">2</button>
                    <button class="questionItem" value="3">3</button> <button class="questionItem" value="4">4</button>
                    <button class="questionItem" value="5">5</button> <button class="questionItem" value="6">6</button>
                    <button class="questionItem last" value="7">7</button> Wel leuk</h3>
            </div>
            <input type="hidden" name="answer4" id="answer4" value="0" />
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <button id="nextQuestion4" class="btn btn-primary nextQuestion disabled">Volgende vraag</button>
            </div>
        </div>
    </div>

    <div class="question" id="question5" style="display:none;">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>5/11 - Ik vind het dagboek </h3>
                <h3>Saai <button class="questionItem" value="1">1</button> <button class="questionItem" value="2">2</button>
                    <button class="questionItem" value="3">3</button> <button class="questionItem" value="4">4</button>
                    <button class="questionItem" value="5">5</button> <button class="questionItem" value="6">6</button>
                    <button class="questionItem last" value="7">7</button> Leuk</h3>
            </div>
            <input type="hidden" name="answer5" id="answer5" value="0" />
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <button id="nextQuestion5" class="btn btn-primary nextQuestion disabled">Volgende vraag</button>
            </div>
        </div>
    </div>

    <div class="question" id="question6" style="display:none;">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>6/11 - Wat Robin zegt </h3>
                <h3>Slaat nergens op <button class="questionItem" value="1">1</button> <button class="questionItem" value="2">2</button>
                    <button class="questionItem" value="3">3</button> <button class="questionItem" value="4">4</button>
                    <button class="questionItem" value="5">5</button> <button class="questionItem" value="6">6</button>
                    <button class="questionItem last" value="7">7</button> Is nuttig</h3>
            </div>
            <input type="hidden" name="answer6" id="answer6" value="0" />
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <button id="nextQuestion6" class="btn btn-primary nextQuestion disabled">Volgende vraag</button>
            </div>
        </div>
    </div>

    <div class="question" id="question7" style="display:none;">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>7/11 - Voor het dagboek doe ik </h3>
                <h3>Weinig moeite <button class="questionItem" value="1">1</button> <button class="questionItem" value="2">2</button>
                    <button class="questionItem" value="3">3</button> <button class="questionItem" value="4">4</button>
                    <button class="questionItem" value="5">5</button> <button class="questionItem" value="6">6</button>
                    <button class="questionItem last" value="7">7</button> Veel moeite</h3>
            </div>
            <input type="hidden" name="answer7" id="answer7" value="0" />
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <button id="nextQuestion7" class="btn btn-primary nextQuestion disabled">Volgende vraag</button>
            </div>
        </div>
    </div>

    <div class="question" id="question8" style="display:none;">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>8/11 - Het halen van doelen </h3>
                <h3>Vind ik moeilijk <button class="questionItem" value="1">1</button> <button class="questionItem" value="2">2</button>
                    <button class="questionItem" value="3">3</button> <button class="questionItem" value="4">4</button>
                    <button class="questionItem" value="5">5</button> <button class="questionItem" value="6">6</button>
                    <button class="questionItem last" value="7">7</button> Lukt mij goed</h3>
            </div>
            <input type="hidden" name="answer8" id="answer8" value="0" />
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <button id="nextQuestion8" class="btn btn-primary nextQuestion disabled">Volgende vraag</button>
            </div>
        </div>
    </div>

    <div class="question" id="question9" style="display:none;">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>9/11 - Als ik inlog komt dat omdat </h3>
                <h3>Mijn ouders mij eraan herinneren <button class="questionItem" value="1">1</button> <button class="questionItem" value="2">2</button>
                    <button class="questionItem" value="3">3</button> <button class="questionItem" value="4">4</button>
                    <button class="questionItem" value="5">5</button> <button class="questionItem" value="6">6</button>
                    <button class="questionItem last" value="7">7</button> Ik het zelf bedenk</h3>
            </div>
            <input type="hidden" name="answer9" id="answer9" value="0" />
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <button id="nextQuestion9" class="btn btn-primary nextQuestion disabled">Volgende vraag</button>
            </div>
        </div>
    </div>

    <div class="question" id="question10" style="display:none;">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>10/11 - Het dagboek helpt mij  </h3>
                <h3>Wel <button class="questionItem" value="1">1</button> <button class="questionItem" value="2">2</button>
                    <button class="questionItem" value="3">3</button> <button class="questionItem" value="4">4</button>
                    <button class="questionItem" value="5">5</button> <button class="questionItem" value="6">6</button>
                    <button class="questionItem last" value="7">7</button> Niet</h3>
                <h3>Om beter om te gaan met mijn diabetes</h3>
            </div>
            <input type="hidden" name="answer10" id="answer10" value="0" />
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <button id="nextQuestion10" class="btn btn-primary nextQuestion disabled">Volgende vraag</button>
            </div>
        </div>
    </div>

    <div class="question" id="question11" style="display:none;">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>11/11 - Als Robin <i>niet</i> in het dagboek zou zitten, dan zou ik </h3>
                <h3>Minder toevoegen <button class="questionItem" value="1">1</button> <button class="questionItem" value="2">2</button>
                    <button class="questionItem" value="3">3</button> <button class="questionItem" value="4">4</button>
                    <button class="questionItem" value="5">5</button> <button class="questionItem" value="6">6</button>
                    <button class="questionItem last" value="7">7</button> Meer toevoegen</h3>
            </div>
            <input type="hidden" name="answer11" id="answer11" value="0" />
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>Klik op klaar om het op te slaan.</p>
                <input class="btn btn-primary" type="submit" value="Klaar!">
            </div>
        </div>
    </div>

</form>


<script>
    var question = 0;

    function next(){
        question++;
        $(".question").hide()
        $("#question" + question).show();
    }

    //Button listeners
    $(".nextQuestion").click(function(e) {
        e.preventDefault();
        if($(this).hasClass("disabled")){
            return false;
        } else {
            next();
        }
    });

    $(".questionItem").click(function(e) {
        e.preventDefault();
        $("#answer" + question).val($(this).attr("value"));
        $(".questionItem").removeClass("selectedAnswer");
        $(this).addClass("selectedAnswer");
        $("#nextQuestion" + question).removeClass("disabled");
    });

    //Prevent the enter key to submit the form
    $(document).ready(function() {
        $(window).keydown(function(event){
            if(event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
    });

    window.onkeyup = function(e) {
        var key = e.keyCode ? e.keyCode : e.which;
        if (key == 13){
            e.preventDefault();
            return false;
        }
    }
</script>

}