@(activityForm: Form[models.diary.activity.DiaryActivity], currentDate: String, user: UserMyPAL, types: List[models.diary.activity.DiaryActivityType], preselectedType: String = "", typeInputErrorMessage: String = "")

@import play.api.i18n._

<fieldset>
    @diary_formGroup_select_diaryActivityType(label = Messages("page.diary.calendar.activitytype") + "*", user, types, preselectedType, typeInputErrorMessage, Messages("page.diary.diaryActivityType.source.addActivity"), -1)
    @diary_formGroup_date(activityForm("date"), Messages("page.diary.calendar.date") + "*", Messages("page.diary.calendar.date"), currentDate)
    @diary_formGroup_doubleTime(activityForm("starttime"), activityForm("endtime"))
    @diary_formGroup_description(activityForm("description"), label = Messages("page.diary.calendar.description") + "*", placeholder = Messages("page.diary.calendar.description_howwasit"))
    @diary_formGroup_select_emotion(activityForm("emotion"), label = Messages("page.diary.calendar.emotion") + "*", placeholder = Messages("page.diary.calendar.emotion"))
    <div id="showOrHideMeal" style="display:none;">
        @diary_formGroup_value(activityForm("carbohydrateValue"), Messages("page.diary.calendar.measurement.carbohydrate")+ "*", Messages("page.diary.calendar.measurement.canyoucountcarbs"), Messages("page.diary.calendar.measurement.carboHydrateunit"), "-1.0")
    </div>
    @diary_formGroup_picture(Messages("page.diary.calendar.picture"), Messages("page.diary.calendar.picture"), (activityForm("description").hasErrors || activityForm("date").hasErrors || activityForm("emotion").hasErrors || activityForm("starttime").hasErrors || activityForm("endtime").hasErrors))

    <div class="form-group">
        <br />
        <div class="col-sm-offset-2 col-sm-2 small text-left">* @Messages("page.general.isrequired")</div>
        <div class=" col-sm-8 text-right">
            <button type="submit" id="donotaddfromgallery" class="btn btn-primary">@Messages("page.diary.calendar.addactivity")</button>
            <a href="@routes.Diary.calendar()" class="btn btn-default">@Messages("page.diary.calendar.notaddactivity")</a>
        </div>
    </div>
</fieldset>

<script>
    $("#donotaddfromgallery").on('click', function(e) {
        e.preventDefault()
        document.getElementById("isaddfromgallery").value = "false";
        this.form.submit();
    });

    $("input:radio.ismeal").click(function() {
        $("#carbohydrateValue").val("");
        $("#showOrHideMeal").show();
    });

    $("input:radio.notismeal").click(function() {
        $("#showOrHideMeal").hide();
        $("#carbohydrateValue").val("-1.0");
    });
</script>