@(index: Int)

@(index: Int)

<div class="row registrationField">
    <div class="col-md-offset-2 col-md-2 text-right">
        <button class="btn btn-primary avatarHtmlYesNoDontknow avatarValueYes">@Messages("page.general.yes")</button>
    </div>
    <div class="col-md-2 text-left">
        <button class="btn btn-primary avatarHtmlYesNoDontknow avatarValueNo">@Messages("page.general.no")</button>
    </div>
    <div class="col-md-2 text-left">
        <button class="btn btn-primary avatarHtmlYesNoDontknow avatarValueDontknow">@Messages("page.general.dontknow")</button>
    </div>
</div>