@(behaviors: List[views.interfaces.AvatarBehaviorToHTML], bundleCount: Int, error: String = "")
@admin(title = Messages("page.admin.behavior.title"), page = "behavior", table = "javascripts/tables/admin_behavior_bundle.js") {

    <div class="text-right buttonWithNavBar">
        @if(error != "") {
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">@Messages("page.general.error")</span>
                @error
            </div>
        }
        <a href="@routes.Admin.addBehaviorBundlePage()" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> @Messages("page.admin.behavior.bundle.add")</a>
    </div>
    <h3>@Messages("page.admin.behavior.bundle.overview")</h3>

    @if(bundleCount > 0){
        <table id="admin_behavior_bundle" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>@Messages("page.admin.behavior.bundle.id")</th>
                <th>@Messages("page.admin.behavior.bundle.behaviors")</th>
                <th>@Messages("page.admin.behavior.bundle.isValid")</th>
                <th>@Messages("page.admin.behavior.bundle.description")</th>
                <th>@Messages("page.admin.users.options")</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>@Messages("page.admin.behavior.bundle.id")</td>
                <td>@Messages("page.admin.behavior.bundle.behaviors")</td>
                <td>@Messages("page.admin.behavior.bundle.isValid")</td>
                <td>@Messages("page.admin.behavior.bundle.description")</td>
                <td>@Messages("page.admin.users.options")</td>
            </tr>
            </tbody>
        </table>

        @for((behavior, index) <- behaviors.zipWithIndex){
            <div class="row avatarBehaviors buttonWithNavBar" id="avatarBehavior@behavior.getId" style="display:none;">
                <div class="text-left col-md-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>@Messages("page.admin.behavior.id")</th>
                            <th>@Messages("page.admin.behavior.gesture")</th>
                            <th>@Messages("page.admin.behavior.lines")</th>
                            <th>@Messages("page.admin.behavior.avatarhtmltype")</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>@behavior.getId</td>
                            <td>@Html.apply(behavior.getGesture)</td>
                            <td>@Html.apply(behavior.getLines)</td>
                            <td>@Html.apply(behavior.getAvatarHtmlType)</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        }
    }else{
        <div class="text-center">
            <h3>@Messages("page.admin.behavior.bundle.nobundles")</h3>
        </div>
    }

    <script>
        $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>
}