@(nUsers: Int, nLoggedInUsers: Int, nActivities: Int, nLogs: Int, recentActivities: List[views.interfaces.DiaryActivityToHTML], nMeasurements: Int, nBehaviors: Int, nGestures: Int)
@import play.api.i18n._

@admin(Messages("page.admin.home.title"), page = "home") {
<link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/ekko-lightbox.min.css")'>
<div class="withNavbar">
    <div class="text-center"><h1>@Messages("page.admin.home.header")</h1></div>
    <div class="text-left">
        <h3>@Messages("page.admin.home.generaldata")</h3>
        <p>@nLoggedInUsers / @nUsers <a href="@routes.Admin.users()">@Messages("page.admin.home.usersonline")</a></p>
        <p>@nActivities @Messages("page.admin.home.added.activities")</p>
        <p>@nMeasurements @Messages("page.admin.home.added.measurements")</p>
        <p>@nBehaviors <a href='@routes.Admin.behavior()'>@Messages("page.admin.home.added.behaviors")</a></p>
        <p>@nGestures <a href="@routes.Admin.gesture()">@Messages("page.admin.home.added.gestures")</a></p>
        <p>@nLogs @Messages("page.admin.home.logs")</p>
    </div>
        <div>
            <div class="text-left"><h3>@Messages("page.admin.home.recentactivities")</h3></div>
        @if(recentActivities == null || recentActivities.size == 0){
            <div class="text-left">@Messages("page.admin.home.norecentactivities")</div>
        </div>
    }else{
        @for((recentActivity, index) <- recentActivities.zipWithIndex){
            @if(index % 4 == 0){
                <div class="row">
            }
                <div class="col-md-3 portfolio-item">
                    <a href="@recentActivity.getFullPicture" data-toggle="lightbox" data-gallery="multiimages" data-title='@recentActivity.getFirstName @recentActivity.getLastName - @recentActivity.getType - @recentActivity.getDate'>
                        <img class="img-responsive" width='75%' height="50%" src="@recentActivity.getPicture" alt="">
                    </a>
                    <h3>
                        <a href="@routes.Admin.viewUser(recentActivity.getEmail)">@recentActivity.getFirstName @recentActivity.getLastName - @recentActivity.getType</a>
                    </h3>
                    <p>
                        <i>@recentActivity.getDate</i> - @recentActivity.getLongDescription
                    </p>
                </div>
            @if((index+1) % 4 == 0){
                </div>
            }
        }
        @if(recentActivities.size == 1 || recentActivities.size-1 % 4 != 0){
            </div>
        }
    }
        </div>

<div class="text-left">
    <h3>@Messages("page.admin.home.download")</h3>
    <ul>
        <li><a href='@routes.Admin.downloadUserData()'>@Messages("page.admin.home.download.data")</a></li>
        <li><a href='@routes.Admin.downloadMeasurementData()'>@Messages("page.admin.home.download.measurements")</a></li>
    </ul>
</div>

<script src='@routes.Assets.at("javascripts/ekko-lightbox.min.js")' type="text/javascript"></script>
<script>
    $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });
</script>
}