 #greeting_animation{
    max-width: 800px;
    max-height: 1200px;
    padding: 0;
    margin-bottom: 0;
    background: white;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.portfolio-item {
    margin-bottom: 25px;
}

#timeline{
  margin-top: 5%;
}

.addactivity{
   padding-top:15px;
 }

 .addpicture{
   padding-top:15px;
   margin-bottom:50px;
 }

.addactivitybutton{
  margin-top: 10px;
}

.withNavBar {
  padding-top: 50px;
}

div.avatarfield{
    border-left: thick solid #46575f;
    height: 95vh;
}

.has-error > div > #emotion_selector_left {
  border-left:1px solid DarkRed;
  border-top:1px solid DarkRed;
  border-bottom:1px solid DarkRed;
}

.has-error > div > #emotion_selector_center {
  border-top:1px solid DarkRed;
  border-bottom:1px solid DarkRed;
}

.has-error > div > #emotion_selector_right {
  border-right:1px solid DarkRed;
  border-top:1px solid DarkRed;
  border-bottom:1px solid DarkRed;
}


.starter-template {
  text-align: center;
}

.navbar-inverse {
  color: red;
  background-color: #46575f;
  border-color: #404e55;
}
.navbar-inverse .navbar-brand {
  color: #ffffff;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: #90d23d;
}
.navbar-inverse .navbar-text {
  color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #90d23d;
}
.navbar-inverse .navbar-nav > li > .dropdown-menu {
  background-color: #46575f;
}
.navbar-inverse .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-inverse .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-inverse .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #90d23d;
  background-color: #404e55;
}
.navbar-inverse .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #46575f;
}

.navbar-inverse .navbar-nav > .active{
  color: #90d23d;
  background-color: #404e55;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #90d23d;
  background-color: #404e55;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  color: #90d23d;
  background-color: #404e55;
}
.navbar-inverse .navbar-toggle {
  border-color: #404e55;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #404e55;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #ffffff;
}
.navbar-inverse .navbar-link {
  color: #ffffff;
}
.navbar-inverse .navbar-link:hover {
  color: #90d23d;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #90d23d;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #90d23d;
    background-color: #404e55;
  }
}

.ui-timepicker-wrapper {
	overflow-y: auto;
	height: 150px;
	width: 6.5em;
	background: #fff;
	border: 1px solid #ddd;
	-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);
	-moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);
	box-shadow:0 5px 10px rgba(0,0,0,0.2);
	outline: none;
	z-index: 10001;
	margin: 0;
}

.ui-timepicker-wrapper.ui-timepicker-with-duration {
	width: 13em;
}

.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-30,
.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-60 {
	width: 11em;
}

.ui-timepicker-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.ui-timepicker-duration {
	margin-left: 5px; color: #888;
}

.ui-timepicker-list:hover .ui-timepicker-duration {
	color: #888;
}

.ui-timepicker-list li {
	padding: 3px 0 3px 5px;
	cursor: pointer;
	white-space: nowrap;
	color: #000;
	list-style: none;
	margin: 0;
}

.ui-timepicker-list:hover .ui-timepicker-selected {
	background: #fff; color: #000;
}

li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {
	background: #1980EC; color: #fff;
}

li.ui-timepicker-selected .ui-timepicker-duration,
.ui-timepicker-list li:hover .ui-timepicker-duration {
	color: #ccc;
}

.ui-timepicker-list li.ui-timepicker-disabled,
.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
	color: #888;
	cursor: default;
}

.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
	background: #f2f2f2;
}

label > input{ /* HIDE RADIO */
  display:none;
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
  width:50%;
  height:50%;
  padding:0;
  margin:0;
}
label > input:checked + img{ /* (CHECKED) IMAGE STYLES */
  border:2px solid #90d23d;
}

}

