
@main(Messages("page.registration.title")) {

    <div class="registrationMain text-center">
        <!--<video width="100%" autoplay="autoplay" poster='@routes.Assets.at("robot_animations/avatarvideo_greeting_test1_poster.png")'>
            <source src='@routes.Assets.at("robot_animations/avatarvideo_greeting_test2.mp4")' type="video/mp4">
            Your browser does not support the video tag
        </video>-->
        <div class="col-md-12">
            <img src='@routes.Assets.at("robot_animations/nao.jpg")'>
        </div>

        <div class="col-md-12" id="registrationItem0">
            <div class="row">
                <h1>@Messages("dialogue.registration.0")</h1>
            </div>
            <audio id="registrationItemSpeech0" autoplay="autoplay"> -->
                <source src='@routes.Assets.at("robot_speech/dialogue.registration.0.wav")' type="audio/wav">
            </audio>
        </div>

        <div class="col-md-12" id="registrationItem1" style="display:none;">
            <div class="row">
                <h1>@Messages("dialogue.registration.1")</h1>
            </div>
            <div class="row registrationField">
                <div class="col-md-offset-4 col-md-4 text-center ">
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder='@Messages("model.user.firstName")' />
                </div>
                <div class="col-md-4 text-left">
                    <button class="btn btn-primary registrationNext">@Messages("page.registration.enter")</button>
                </div>
            </div>
            <audio id="registrationItemSpeech1" preload="none"> -->
                <source src='@routes.Assets.at("robot_speech/dialogue.registration.1.wav")' type="audio/wav">
            </audio>
        </div>

        <div class="col-md-12" id="registrationItem2" style="display:none;">
            <div class="row">
                <h1>@Messages("dialogue.registration.2")</h1>
            </div>
            <div class="row registrationField">
                <div class="col-md-offset-4 col-md-4 text-center ">
                    <input type="text" class="form-control" id="age" name="age" placeholder='@Messages("model.user.age")' />
                </div>
                <div class="col-md-4 text-left">
                    <button class="btn btn-primary registrationNext">@Messages("page.registration.enter")</button>
                </div>
            </div>
            <audio id="registrationItemSpeech2" preload="none"> -->
                <source src='@routes.Assets.at("robot_speech/dialogue.registration.2.wav")' type="audio/wav">
            </audio>
        </div>

        <div class="col-md-12" id="registrationItem3" style="display:none;">
            <div class="row">
                <h1>@Messages("dialogue.registration.3")</h1>
            </div>
            <audio id="registrationItemSpeech3" preload="none"> -->
                <source src='@routes.Assets.at("robot_speech/dialogue.registration.3.wav")' type="audio/wav">
            </audio>
        </div>

        <div class="col-md-12" id="registrationItem4" style="display:none;">
            <div class="row">
                <h1>@Messages("dialogue.registration.4")</h1>
            </div>
            <audio id="registrationItemSpeech4" preload="none"> -->
                <source src='@routes.Assets.at("robot_speech/dialogue.registration.4.wav")' type="audio/wav">
            </audio>
        </div>

        <div class="col-md-12" id="registrationItem5" style="display:none;">
            <div class="row">
                <h1>@Messages("dialogue.registration.5")</h1>
            </div>
            <div class="row registrationField">
                <div class="col-md-offset-4 col-md-2 text-right">
                    <button class="btn btn-primary">@Messages("page.general.yes")</button>
                </div>
                <div class="col-md-2 text-left">
                    <button class="btn btn-primary">@Messages("page.general.no")</button>
                </div>
            </div>
            <audio id="registrationItemSpeech5" preload="none"> -->
                <source src='@routes.Assets.at("robot_speech/dialogue.registration.5.wav")' type="audio/wav">
            </audio>
        </div>

    </div>

    <script>
        //Start interactive slideshow
        var slide = 0;
        var timing = [4000, 0, 0, 3500, 4500, 0];
        var enterToContinue = [false, true, true, false, false, false];
        loadTimeout(timing[slide]);

        //Go automatically to the next slide after a certain time if required
        function loadTimeout(time){
            if(time > 0){
                setTimeout(function(){goToNextSlide();}, time);
            }
        }

        //Go to the next slide
        function goToNextSlide(){
            var nextSlide = slide+1;
            $("#registrationItemSpeech" + nextSlide).trigger('load');
            $("#registrationItem" + slide).hide();
            $("#registrationItem" + nextSlide).show();
            $("#registrationItemSpeech" + nextSlide).trigger('play');
            loadTimeout(timing[nextSlide]);
            slide = slide + 1;
        }

        //Button listener
        $(".registrationNext").click(function() {
            goToNextSlide();
        });

        //Keyboard listner
        window.onkeyup = function(e) {
            var key = e.keyCode ? e.keyCode : e.which;

           if (key == 13 && enterToContinue[slide]) {
               goToNextSlide();
           }
        }

    </script>
        } {<style>html {
    background: url(@routes.Assets.at("images/background_without_myPAL.png")) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }</style>} {<!-- null -->} {<!-- null -->}