<div>
    <h1>PAL</h1>
    <!-- <video width="100%" autoplay="autoplay" poster='@routes.Assets.at("robot_animations/avatarvideo_greeting_test1_poster.png")'>
        <source src='@routes.Assets.at("robot_animations/avatarvideo_greeting_test3.mp4")' type="video/mp4">
    </video> -->
    <img class="text-left" src='@routes.Assets.at("robot_animations/nao.jpg")'>
</div>
<div>
    <h3>@Messages("dialogue.test.whatdidyoudotoday")</h3>
</div>
<div>
    <audio id="speech" autoplay="autoplay">
        <!-- <source src='@routes.Assets.at("robot_speech/brahms.ogg")' type="audio/ogg"> -->
    </audio>
    <button class="btn btn-default" id="mute_speech">Mute</button>
</div>
