@(avatarBehavior: models.avatar.AvatarBehavior)

<div>
    <h1>PAL</h1>

    @if(avatarBehavior == null){
        <img class="text-left" src='@routes.Assets.at("robot_animations/nao.jpg")'>
    }else{
        @if(avatarBehavior.getGestureType == models.avatar.AvatarGestureType.VIDEO){
            <video width="500px" height="500px" autoplay="autoplay">
                <source src='@avatarBehavior.getGesture' type="video/mp4">
            </video>
        }else{
            <img class="text-left" src='@avatarBehavior.getGesture'>
        }
    }
</div>

@if(avatarBehavior != null){
    <div>
        <h3>@avatarBehavior.getLine</h3>
    </div>
    <div>
        @if(avatarBehavior.getHtml != null){
            @avatarBehavior.getHtml
        }
    </div>
    <div>
        <audio id="speech" autoplay="autoplay"> -->
            <source src='@avatarBehavior.getSpeech' type="audio/wav">
        </audio>
    </div>
}
