@(userType: UserType, pictures: List[models.diary.activity.Picture], error: String = "", activityID: Int)

@views.html.diary.diary_no_avatar(Messages("page.diary.base.gallery"), "gallery", userType) {
<link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/ekko-lightbox.min.css")'>
<div>
    <div class="row">
        <div class="text-left col-md-4 addpicture">
            <a href='@routes.Diary.viewActivity(activityID)' class="btn btn-default addactivitybutton">@Messages("page.diary.gallery.donotaddpicture")</a>
            <a href='@routes.Diary.addPictureDirectlyPage(activityID)' data-toggle="lightbox" class="btn btn-default addactivitybutton"> <span class="glyphicon glyphicon-picture" aria-hidden="true"></span> @Messages("page.diary.gallery.addpicture")</a>
        </div>
        <div class="text-center col-md-4">
            <h1>@Messages("page.diary.base.gallery")</h1>
            <h4>@Messages("page.diary.gallery.selectapicture")</h4>
        </div>
    </div>
    <div>
        @if(error != "") {
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">@Messages("page.general.error")</span>
            @error
        </div>
        }
        @if(pictures == null || pictures.size == 0){
        <h2>@Messages("page.diary.gallery.nocontent")</h2>
    </div>
    }else{
</div>
@for((picture, index) <- pictures.zipWithIndex){
@if(index % 4 == 0){
<div class="row">
    }
    <div class="col-md-3 portfolio-item">
        <div class="text-right"><a class='btn btn-default' aria-label='Left Align' data-toggle="confirmation" data-title='@Messages("page.general.areyousure")' data-href='@routes.Diary.deletePictureFromGallery(picture.getId)' data-btnOkLabel='@Messages("page.general.yes")' data-btnCancelLabel='@Messages("page.general.no")' data-btnOkClass="btn btn-sm btn-primary" data-placement="top"><span class='glyphicon glyphicon-remove' aria-hidden='true'></span></a></div>
        <a href="@routes.Application.getPicture(picture.getName)" data-toggle="lightbox" data-gallery="multiimages" data-title='@(index+1) - @if(picture.getDiaryActivity != null){@picture.getDiaryActivity.getType.toString}else{@Messages("page.diary.gallery.unlinkedpicture")}'>
            <img class="img-responsive" src="@routes.Application.getPicture(picture.getThumbnail)" alt="">
        </a>
        <h4>
            <a>@Messages("page.diary.gallery.unlinkedpicture") <small> - @views.interfaces.DiaryActivityToHTML.dateToFormattedString(picture.getDate)</small></a>
        </h4>
        <p><a class='btn btn-default' aria-label='Left Align' data-toggle="confirmation" data-title='@Messages("page.general.areyousure")' data-href='@routes.Diary.linkPictureToActivity(activityID, picture.getId)' data-btnOkLabel='@Messages("page.general.yes")' data-btnCancelLabel='@Messages("page.general.no")' data-btnOkClass="btn btn-sm btn-primary" data-placement="top">@Messages("page.diary.gallery.addthispicture")</a></p>
    </div>
    @if((index+1) % 4 == 0){
</div>
}
}
@if(pictures.size == 1 || pictures.size-1 % 4 != 0){
</div>
}
}
</div>

<script src='@routes.Assets.at("javascripts/ekko-lightbox.min.js")' type="text/javascript"></script>
<script>
    $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });

    $('[data-toggle="confirmation"]').confirmation();
</script>

}