@(source: String, id: Int, types: List[models.diary.DiaryActivityType])

@main_basic("remove type"){

@helper.form(action = routes.Diary.removeDiaryActivityType(source, id), 'class -> ""){

<div class="form-group">
<div class= "row">
    <div class="col-sm-12 text-center">
        Welke wil je verwijderen?
    </div>
</div>
    @for((uType, index) <- types.zipWithIndex){
        @if(index % 5 == 0){
            <div class="row text-center">
        }

        <label  class="col-sm-1 text-center">
            <input type="radio" name='diaryActivityType' value="@uType.getId" />
            <img class="typeIcon" src='@uType.getIconLocation'>
            <br />
            @uType.getName
        </label>

        @if((index+1) % 5 == 0){
            </div>
        }
    }

    @if(types.size < 5 || types.size-1 % 5 != 0){
        </div>
    }
}
</div>

<div class="form-group">
    <div class="col-sm-12 text-right">
        <button type="submit" class="btn btn-primary">@Messages("page.diary.diaryActivityType.remove")</button>
        @if(source == Messages("page.diary.diaryActivityType.source.updateActivity")){
         <a href="@routes.Diary.updateActivityPage(id)" class="btn btn-default">@Messages("page.diary.diaryActivityType.donotremove")</a>
        }else{
            <a href="@routes.Diary.addActivityPage()" class="btn btn-default">@Messages("page.diary.diaryActivityType.donotremove")</a>
        }
    </div>
</div>
}