@(userType: UserType, date: String, realDate: String, activitySize: Integer)

@import play.api.i18n._
@import play.api.libs.json.Json

@diary(Messages("page.diary.base.calendar"), "calendar", userType) {

    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/datepicker.css")'>
    <script src=@routes.Assets.at("javascripts/bootstrap-datepicker.js")></script>


    @if(activitySize > 0){
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script src=@routes.Assets.at("javascripts/showDiaryActivities.js")></script>
    }

    <div class="row">
        <div class="text-left col-md-4 addactivity">
            <a href='@routes.Diary.addActivityPage()' class="btn btn-default addactivitybutton"> <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> @Messages("page.diary.calendar.addactivity")</a>
            <br />
            <a href='' class="btn btn-default addactivitybutton"> <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> @Messages("page.diary.calendar.addmeasurement")</a>
        </div>
        <div id="calendar_head" class="text-center col-md-4">
            <h1>@Messages("page.diary.base.calendar")</h1>
            <a href='@routes.Diary.calendarUpdate("-")' class="btn btn-default"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a> <button class="btn btn-default" id="datePicker" data-date="@realDate" data-date-format="dd/mm/yyyy">@date <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></button> <a href='@routes.Diary.calendarUpdate("+")' class="btn btn-default"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
        </div>
    </div>

    <div class="row">
        <div id="timeline" style="width:85%; height:100%;" class="text-center"></div>
    </div>

    @if(activitySize == 0){
        <div class="text-center">
            <br />
            <h3>@Messages("page.diary.calendar.noactivities")</h3>
        </div>
    }

    <script src=@routes.Assets.at("javascripts/main.js")></script>
}