@(userForm: Form[User], users: List[User])

@admin(title = "User management", page = "users", tablename = "adminUserOverview") {

    <h2>Users</h2>
    <h3>Add user</h3>

    @if(userForm.hasGlobalErrors) {
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            @userForm.globalError.message
        </div>
    }

    @helper.form(action = routes.Application.addUser(), 'class -> "form-inline") {
        @admin_user_fieldset(userForm)
    }

    <h3>Overview</h3>
    <table id="adminUserOverview" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead><tr><th>E-mail adres</th><th>Voornaam</th><th>Achternaam</th><th>Gebruikerstype</th><th>Verwijderen</th></tr></thead>
        <tbody>
        @users.map { user =>
        <tr><td>@user.getEmail()</td><td>@user.getFirstName()</td><td>@user.getLastName()</td><td>@user.getUserType()</td><td><button onclick='deleteUser("@user.getEmail()")'>Verwijder</button> </td></tr>
        }
        </tbody>
    </table>
}


