@(userForm: Form[User])

@import fieldsets._
@import play.api.i18n._

@admin(title = Messages("page.admin.users.title"), page = "users", table = "javascripts/tables/admin_users.js") {

        <h2>@Messages("page.admin.base.users")</h2>
        <h3>@Messages("page.admin.users.addUser")</h3>

        @if(userForm.hasGlobalErrors) {
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">@Messages("page.general.error")</span>
                @userForm.globalError.message
            </div>
        }

        @helper.form(action = routes.Admin.addUser(), 'class -> "") {
            @admin_user_fieldset(userForm)
        }

        <h3>@Messages("page.admin.users.overview")</h3>
        <table id="admin_users" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>@Messages("model.user.email")</th>
                    <th>@Messages("model.user.firstName")</th>
                    <th>@Messages("model.user.lastName")</th>
                    <th>@Messages("model.user.birthdate")</th>
                    <th>@Messages("model.user.userType")</th>
                    <th>@Messages("model.user.lastActivity")</th>
                    <th>@Messages("page.admin.users.options")</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Messages("model.user.email")</td>
                    <td>@Messages("model.user.firstName")</td>
                    <td>@Messages("model.user.lastName")</td>
                    <td>@Messages("model.user.birthdate")</td>
                    <td>@Messages("model.user.userType")</td>
                    <td>@Messages("model.user.lastActivity")</td>
                    <td>@Messages("page.admin.users.options")</td>
                </tr>
            </tbody>
        </table>

        <script src=@routes.Assets.at("javascripts/main.js")></script>
}


