@(emailValue: String, userForm: Form[User.UserMutable])

@import fieldsets._
@import play.api.i18n._

@admin(title = Messages("page.admin.users.update.title"), page = "users") {

    <h3>@Messages("page.admin.users.updateUser")</h3>
    @if(userForm.hasGlobalErrors) {
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">@Messages("page.general.error")</span>
        @userForm.globalError.message
    </div>
    }


    @helper.form(action = routes.Application.updateUser(emailValue), 'class -> "form-horizontal") {
    @admin_user_update_fieldset(emailValue, userForm)
    }
}