@(userForm: Form[User])

@import fieldsets._

        <fieldset>
            @email(userForm("email"), label = "E-mail", placeholder = "E-mail")
            @text(userForm("firstName"), label = "Voornaam", placeholder = "Voornaam")
            @text(userForm("lastName"), label = "Achternaam", placeholder = "Achternaam")
            @select(userForm("lastName"), label = "Gebruikerstype", placeholder = "Gebruikerstype")
            @password(userForm("password"), label = "Wachtwoord", placeholder = "Wachtwoord")
            <div class="form-group">
                <br />
                <button type="submit" class="btn btn-default">Voeg toe</button>
            </div>
        </fieldset>