@(userForm: Form[User], isAdminSelf: Boolean)

@import play.api.i18n._

<fieldset>
    @email(userForm("email"), label = Messages("model.user.email"), placeholder = Messages("model.user.email"), isReadonly=true)
    @text(userForm("firstName"), label = Messages("model.user.firstName"), placeholder = Messages("model.user.firstName"))
    @text(userForm("lastName"), label = Messages("model.user.lastName"), placeholder = Messages("model.user.lastName"))
    @date(userForm("birthdate"), label = Messages("model.user.birthdate"), placeholder = Messages("model.user.birthdate"))
    @select(userForm("userType"), label = Messages("model.user.userType"), placeholder = Messages("model.user.userType"), disabled = isAdminSelf)
    @password(userForm("password"), label = Messages("model.user.newpassword") + "*", placeholder = Messages("model.user.password"))
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-2 small text-left">* @Messages("page.general.isoptional")</div>
        <br />
        <div class="col-sm-12 text-right">
            <button type="submit" class="btn btn-primary">@Messages("page.admin.users.updateUser")</button>
            <a href="@routes.Admin.users()" class="btn btn-default">@Messages("page.admin.users.updateUser.cancel")</a>
        </div>
    </div>
</fieldset>