@(field: Field, label:String, placeholder: String)

        <div class="form-group @if(field.hasErrors) {has-error}">
            <label class="col-sm-2 control-label" for="@field.id">@label</label>
            <div class="col-sm-10">
                <input  type="password"
                        class="form-control"
                        id="@field.id"
                        name="@field.name"
                        @if(field.value.getOrElse("") != ""){value='@Messages("page.general.dummypassword")'}
                        placeholder="@placeholder"/>
                <span class="help-block">@{field.error.map { error => error.message }}</span>
            </div>
        </div>