@(form: Form[UserMyPAL.Login])

@import play.api.i18n._

@main_basic(Messages("page.control.login.title")){

<link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/login.css")'>

<div class="container">
    <div class="col-sm-12 text-center">
        <img class="myPAL-logo" src='@routes.Assets.at("images/myPAL_logo_big.png")'/>
    </div>
    @helper.form(routes.Application.authenticate, 'class -> "form-signin") {
    <h2 class="form-signin-heading">@Messages("page.control.login.signinheading")</h2>
    @if(form.hasGlobalErrors) {
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">@Messages("page.general.error")</span>
        @form.globalError.message
    </div>
    }
    <label for="inputEmail" class="sr-only">@Messages("model.user.userName")</label>
    <input type="userName" name="userName" id="inputEmail" class="form-control" placeholder='@Messages("model.user.userName")' required autofocus>
    <label for="inputPassword" class="sr-only">@Messages("model.user.password")</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder='@Messages("model.user.password")' required>
    <button class="btn btn-lg btn-primary btn-block btn-mypal-login" type="submit">@Messages("page.control.login.login")</button>
    }
</div>

}