@(email: String, userForm: Form[User.UserMutable], isAdminSelf: Boolean)

@import play.api.i18n._

<fieldset>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="emailField">@Messages("model.user.email")</label>
        <div class="col-sm-10">
            <input type="email"
                   class="form-control"
                   id="emailField"
                   value='@email'
                   disabled/>
        </div>
    </div>
    @text(userForm("firstName"), label = Messages("model.user.firstName"), placeholder = Messages("model.user.firstName"))
    @text(userForm("lastName"), label = Messages("model.user.lastName"), placeholder = Messages("model.user.lastName"))
    @date(userForm("birthdate"), label = Messages("model.user.birthdate"), placeholder = Messages("model.user.birthdate"))
    @select(userForm("userType"), label = Messages("model.user.userType"), placeholder = Messages("model.user.userType"), preselected=userForm("userType").value.toString, disabled = isAdminSelf)
    <div class="form-group">
        <br />
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">@Messages("page.admin.users.updateUser")</button>
            <a href="@routes.Admin.users()" class="btn btn-default">@Messages("page.admin.users.updateUser.cancel")</a>
        </div>
    </div>
</fieldset>