@(field: Field, label: String, placeholder: String, preselected: String = "", disabled: Boolean = false)

@import play.api.i18n._

        <div class="form-group @if(field.hasErrors) {has-error}">
            <label class="col-sm-2 control-label" for="@field.id">@label</label>
            <div class="col-sm-10">
                <select class="form-control" id="@field.id" name="@field.name" @if(disabled){disabled}>
                    @for(uType <- UserType.values()){
                    <option value="@uType.name" @if(preselected == Messages("model.user.userType." + uType.name)){selected}>@Messages("model.user.userType." + uType.name)</option>
                    }
                </select>
                <span class="help-block">@{field.error.map { error => error.message }}</span>
            </div>
        </div>