@(user: UserMyPAL, pendingDaily: List[models.goals.Goal], metDaily: List[models.goals.Goal], pendingTotal: List[models.goals.Goal], metTotal: List[models.goals.Goal], avatarBehaviors: List[models.avatar.behaviorDefinition.AvatarBehavior])

@import play.api.i18n._

@views.html.diary.diary(Messages("page.diary.base.goals"), "goals", user.getUserType, avatarBehaviors) {

    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/jquery-ui.css")'>
    <style>
        .ui-progressbar {
            position: relative;
        }
        .progress-label {
            position: absolute;
            left: 50%;
            top: 4px;
            font-weight: bold;
            text-shadow: 1px 1px 0 #fff;
        }

        .progressBar .ui-progressbar-value {
            background-color: #90d23d;
        }
    </style>

<div class="text-center"><h1>@Messages("page.diary.base.goals")</h1></div>

    <div class="row">
        <div class="col-md-4 text-left">
            <br />
            <a href="@routes.Diary.addGoalDailyPage()" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> @Messages("page.diary.goals.add.daily.page")</a>
        </div>
        <div class="col-md-4 text-center">
            <h2>@Messages("page.diary.goals.daily.title")</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 text-left">
            <h3>@Messages("page.diary.goals.active")</h3>
        </div>
    </div>

    @if(pendingDaily.size > 0){
        @for(goal <- pendingDaily){
            <div class="row text-left pendingGoalView">
                <div class="col-md-2"><button class="goalViewButton" value="@goal.getId"><img width="50" height="50" class="img-responsive" src="@controllers.goals.GoalFactory.getIcon(goal.getTarget)"></button></div>
                <div class="col-md-4"><div class="progressBar" id="progressBar@goal.getId"><div class="progress-label">@goal.getProgress %</div></div></div>
                <div class="col-md-2"><a aria-label='Left Align' data-toggle="confirmation" data-title='@Messages("page.general.areyousure")' data-href="@routes.Diary.deleteGoal(goal.getId)" data-btnOkLabel='@Messages("page.general.yes")' data-btnCancelLabel='@Messages("page.general.no")' data-btnOkClass="btn btn-sm btn-primary" data-placement="right" class="btn btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></div>
            </div>
        }
    } else {
        <div class="row">
            <div class="col-md-8 text-left">
                <h4>@Messages("page.diary.goals.daily.noactive")</h4>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-md-8 text-left">
            <h3>@Messages("page.diary.goals.met")</h3>
        </div>
    </div>
    @if(metDaily.size > 0){
        @for((goal, index) <- metDaily.zipWithIndex){
            @if(index % 6 == 0){
                <div class="row">
            }
                <div class="col-md-1 text-left portfolio-item">
                    <button class="goalViewButton" value="@goal.getId"><img width="50" height="50" class="img-responsive" src="@controllers.goals.GoalFactory.getIconWhenMet(goal.getTarget)"></button>
                </div>
            @if((index+1) % 6 == 0){
                </div>
            }
        }

        @if(metDaily.size == 1 || metDaily.size % 6 != 0){
            </div>
        }

        @for(goal <- metDaily){
            <div class="row goalView" id="goalView@goal.getId" style="display:none;">
                <div class="col-md-8 text-left">
                    <h4>Doelinformatie</h4>
                    @Messages("page.diary.goals.daily.viewprogress.part1") @goal.stringifyStartDate @Messages("page.diary.goals.daily.viewprogress.part2") @goal.getTargetValue <i>@controllers.goals.GoalFactory.getName(goal.getTarget)</i> @Messages("page.diary.goals.daily.viewprogress.part3")
                    @if(goal.stringifyMetAt == goal.stringifyStartDate){@Messages("page.diary.goals.daily.viewprogress.part4a")}else{@Messages("page.diary.goals.daily.viewprogress.part4b") @goal.stringifyMetAt!}
                </div>
            </div>
        }

    } else {
        <div class="row">
            <div class="col-md-8 text-left">
                <h4>@Messages("page.diary.goals.daily.nomet")</h4>
            </div>
        </div>
    }

    @if(pendingDaily.size > 0){
        @for(goal <- pendingDaily){
            <div class="row goalView" id="goalView@goal.getId" style="display:none;">
                <div class="col-md-8 text-left">
                    <h4>Doelinformatie</h4>
                    @Messages("page.diary.goals.daily.viewprogress.part1") @goal.stringifyStartDate @Messages("page.diary.goals.daily.viewprogress.part2") @goal.getTargetValue <i>@controllers.goals.GoalFactory.getName(goal.getTarget)</i> @Messages("page.diary.goals.daily.viewprogress.part3")
                </div>
            </div>
        }
    }

    <div class="buttonWithNavBar">
        <hr />
    </div>

<div class="row buttonWithNavBar">
    @if(pendingTotal.size > 0){
        @for(goal <- pendingTotal){
            <div class="row goalView" id="goalView@goal.getId" style="display:none;">
                <div class="col-md-8 text-left">
                    <h4>@Messages("page.diary.goals.info")</h4>
                    @Messages("page.diary.goals.daily.viewprogress.part1") @goal.stringifyStartDate @Messages("page.diary.goals.daily.viewprogress.part2") @goal.getTargetValue @Messages("page.diary.goals.total.viewprogress.part2") @if(goal.getTarget.name == "CONLOGINS"){@Messages("page.diary.goals.total.viewprogress.part3a")}else{<i>@controllers.goals.GoalFactory.getName(goal.getTarget)</i> @Messages("page.diary.goals.daily.viewprogress.part3")}
                </div>
            </div>
        }
    }

    @if(metTotal.size > 0){
        @for(goal <- metTotal){
            <div class="row goalView" id="goalView@goal.getId" style="display:none;">
                <div class="col-md-8 text-left">
                    <h4>@Messages("page.diary.goals.info")</h4>
                    @Messages("page.diary.goals.daily.viewprogress.part1") @goal.stringifyStartDate @Messages("page.diary.goals.daily.viewprogress.part2") @goal.getTargetValue @Messages("page.diary.goals.total.viewprogress.part2") @if(goal.getTarget.name == "CONLOGINS"){@Messages("page.diary.goals.total.viewprogress.part3a")}else{<i>@controllers.goals.GoalFactory.getName(goal.getTarget)</i> @Messages("page.diary.goals.daily.viewprogress.part3")}
                    @Messages("page.diary.goals.daily.viewprogress.part4b") @goal.stringifyMetAt!
                </div>
            </div>
        }
    }

    <div class="col-md-4 text-left">
        <br />
        <a href="@routes.Diary.addGoalTotalPage()" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> @Messages("page.diary.goals.add.total.page")</a>
    </div>
    <div class="col-md-4 text-center">
        <h2>@Messages("page.diary.goals.total.title")</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-8 text-left">
        <h3>@Messages("page.diary.goals.active")</h3>
    </div>
</div>

    @if(pendingTotal.size > 0){
        @for(goal <- pendingTotal){
            <div class="row text-left">
                <div class="col-md-2"><button class="goalViewButton" value="@goal.getId"><img width="50" height="50" class="img-responsive" src="@controllers.goals.GoalFactory.getIcon(goal.getTarget)"></button></div>
                <div class="col-md-4"><div class="progressBar" id="progressBar@goal.getId"><div class="progress-label">@goal.getProgress %</div></div></div>
                <div class="col-md-2"><a aria-label='Left Align' data-toggle="confirmation" data-title='@Messages("page.general.areyousure")' data-href="@routes.Diary.deleteGoal(goal.getId)" data-btnOkLabel='@Messages("page.general.yes")' data-btnCancelLabel='@Messages("page.general.no")' data-btnOkClass="btn btn-sm btn-primary" data-placement="right" class="btn btn-default"></span></a></div>
            </div>
        }
    } else {
        <div class="row">
            <div class="col-md-8 text-left">
                <h4>@Messages("page.diary.goals.total.noactive")</h4>
            </div>
        </div>
     }

    <div class="row">
        <div class="col-md-8 text-left">
            <h3>@Messages("page.diary.goals.met")</h3>
        </div>
    </div>

    @if(metTotal.size > 0){
        @for((goal, index) <- metTotal.zipWithIndex){
            @if(index % 6 == 0){
                <div class="row ">
            }
            <div class="col-md-1 text-left portfolio-item">
                <button class="goalViewButton" value="@goal.getId"><img width="50" height="50" class="img-responsive" src="@controllers.goals.GoalFactory.getIconWhenMet(goal.getTarget)"></button>
            </div>
            @if((index+1) % 6 == 0){
                </div>
            }
        }

        @if(metTotal.size == 1 || metTotal.size-1 % 6 != 0){
            </div>
        }
    } else {
        <div class="row">
            <div class="col-md-8 text-left">
                <h4>@Messages("page.diary.goals.total.nomet")</h4>
            </div>
        </div>
    }

    <script src='@routes.Assets.at("javascripts/jquery-ui.js")' type="text/javascript"></script>
    <script>
    $('[data-toggle="confirmation"]').confirmation();

        $(".goalViewButton").click(function(e) {
            e.preventDefault();
            goalId = $(this).attr("value");
            $(".goalView").hide();
            $("#goalView" + goalId).show();
        });


        $(function() {
            @if(pendingDaily.size > 0){
                @for(goal <- pendingDaily){
                    $( "#progressBar@goal.getId" ).progressbar({
                        value: @goal.getProgress
                    });
                }
            }
        });

        $(function() {
            @if(pendingDaily.size > 0){
                @for(goal <- pendingTotal){
                    $( "#progressBar@goal.getId" ).progressbar({
                        value: @goal.getProgress
                    });
                }
            }
        });
    </script>




}