@(form: Form[User.Login])

@import play.i18n._

@main_basic(Messages.get("page.login.title")){

<style>
    body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
    }

    .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    }
    .form-signin .form-signin-heading,
    .form-signin .checkbox {
    margin-bottom: 10px;
    }
    .form-signin .checkbox {
    font-weight: normal;
    }
    .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    }
    .form-signin .form-control:focus {
    z-index: 2;
    }
    .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    }
</style>

<div class="container">
    @helper.form(routes.Application.authenticate, 'class -> "form-signin") {
    <h2 class="form-signin-heading">@Messages.get("page.login.signinheading")</h2>

    @if(form.hasGlobalErrors) {
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">@Messages.get("page.login.error")</span>
        @form.globalError.message
    </div>
    }
    <label for="inputEmail" class="sr-only">@Messages.get("model.user.email")</label>
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="@Messages.get("model.user.email")" required autofocus>
    <label for="inputPassword" class="sr-only">@Messages.get("model.user.password")</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="@Messages.get("model.user.password")" required>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="remember-me"> @Messages.get("page.login.rememberme")
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">@Messages.get("page.login.login")</button>
    }
</div>

}