@(field: Field, label: String = "CHANGEME", placeholder: String)

<div class="row form-group">
    <label class="col-sm-2 control-label">@label</label>
    <div>
        <label  class="col-sm-2">
            <input type="radio" name="emotion" value="SAD" @if(field.value.getOrElse("") == "SAD"){checked="checked"} />
            <img class="emotionimage" src='@routes.Assets.at("images/smiley1_sad.png")'>
        </label>

        <label class="col-sm-2">
            <input type="radio" name="emotion" value="NEUTRAL" @if(field.value.getOrElse("") == "NEUTRAL"){checked="checked"}/>
            <img class="emotionimage" src='@routes.Assets.at("images/smiley1_neutral.png")'>
        </label>

        <label class="col-sm-2">
            <input type="radio" name="emotion" value="HAPPY" @if(field.value.getOrElse("") == "HAPPY"){checked="checked"}/>
            <img class="emotionimage" src='@routes.Assets.at("images/smiley1_happy.png")'>
        </label>
    </div>
</div>