@(label: String, user: User, types: List[models.diary.DiaryActivityType], preselected: String = "", errorMessage: String = "", source: String, activityId: Int)

@import play.api.i18n._
<link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/ekko-lightbox.min.css")'>

<div id="diaryActivityTypeSelecter" class="form-group @if(errorMessage != "") {has-error}">
    <label class="col-sm-2 control-label">@label</label>
    @for((uType, index) <- types.zipWithIndex){
        @if(index % 5 == 0){
            <div class="row text-left">
                @if(index >= 5){
                    <label  class="col-sm-offset-4 col-sm-1 text-center">
                }else{
                    <label  class="col-sm-offset-2 col-sm-1 text-center">
                }
        }else{
            <label  class="col-sm-1 text-center">
        }
            <input type="radio" name='diaryActivityType' value="@uType.getId" @if(preselected == uType.getName){checked="checked"} @if(preselected == "" && index == 0){checked="checked"} />
            <img class="typeIcon" src='@uType.getIconLocation'>
            <br />
            @uType.getName
            </label>
        @if((index+1) % 5 == 0){
            @if(index < 5){
                <label  class="col-sm-1 text-right">
                    <a href="@routes.Diary.addDiaryActivityTypePage(source, activityId)" data-toggle="lightbox"><img width="40%" height="40%" src='@routes.Assets.at("images/add_type_icon.png")'>
                        <br/>
                        @Messages("page.diary.calendar.addnewtype")
                    </a>
                </label>
                <label  class="col-sm-1 text-left">
                    <a href="@routes.Diary.removeDiaryActivityTypePage(source, activityId)" data-toggle="lightbox"><img width="40%" height="40%" src='@routes.Assets.at("images/remove_type_icon.png")'>
                        <br/>
                        @Messages("page.diary.calendar.removetype")
                    </a>
                </label>
            }
            </div>

        }
    }
    @if(types.size < 5 || types.size-1 % 5 != 0){
        @if(types.size < 5){
            <label  class="col-sm-1 text-right">
                <a href="@routes.Diary.addDiaryActivityTypePage(source, activityId)" data-toggle="lightbox"><img width="40%" height="40%" src='@routes.Assets.at("images/add_type_icon.png")'>
                    <br/>
                    @Messages("page.diary.calendar.addnewtype")
                </a>
            </label>
            <label  class="col-sm-1 text-left">
                <a href="@routes.Diary.removeDiaryActivityTypePage(source, activityId)" data-toggle="lightbox"><img width="40%" height="40%" src='@routes.Assets.at("images/remove_type_icon.png")'>
                    <br/>
                    @Messages("page.diary.calendar.removetype")
                </a>
            </label>
        }
        </div>
    }
    <span class="col-sm-offset-2 help-block text-center">@if(errorMessage != ""){@errorMessage}</span>
</div>

<script src='@routes.Assets.at("javascripts/ekko-lightbox.min.js")' type="text/javascript"></script>
<script>
    $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });
</script>