@(glucoseForm: Form[models.diary.measurement.Glucose], currentDate)

@import play.api.i18n._

<fieldset>
    @diary_date(activityForm("date"), Messages("page.diary.calendar.date") + "*", Messages("page.diary.calendar.date"), currentDate)
    @diary_singleTime(activityForm("starttime"), activityForm("endtime"))

    <div class="form-group">
        <br />
        <div class="col-sm-offset-2 col-sm-2 small text-left">* @Messages("page.general.isrequired")</div>
        <div class=" col-sm-8 text-right">
            <button type="submit" id="donotaddfromgallery" class="btn btn-primary">@Messages("page.diary.calendar.addactivity")</button>
            <a href="@routes.Diary.calendar()" class="btn btn-default">@Messages("page.diary.calendar.notaddactivity")</a>
        </div>
    </div>
</fieldset>