@(field_start: Field, field_end: Field)

@import play.api.i18n._

<div class="form-group @if(field_start.hasErrors || field_end.hasErrors) {has-error}">
    <label class="col-sm-2 control-label" for="@field_start.id">@Messages("page.diary.calendar.settime.starttime")</label>
    <div class="col-sm-4">
        <input type="text"
               class="time form-control"
               id="@field_start.id"
               name="@field_start.name"
               value='@field_start.value.getOrElse("")'/>
        <span class="help-block">@{field_start.error.map { error => error.message }}</span>
    </div>

    <label class="col-sm-2 text-right control-label" for="@field_end.id">@Messages("page.diary.calendar.settime.endtime")</label>
    <div class="col-sm-4">
        <input type="text"
               class="form-control"
               id="@field_end.id"
               name="@field_end.name"
               value='@field_end.value.getOrElse("")'/>
        <span class="help-block">@{field_end.error.map { error => error.message }}</span>
    </div>
</div>